@import '../baseline/colors.scss';

.radialProgress {
  padding-left: 16px;


  .radialProgress__text {
      margin: 0;
      a {
        color: $green-200;
      }
      p,
      ul {
        margin-top: 0;
        margin-bottom: 4px;
      }
    }

  .radialProgress__drawArea {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .radialProgress__drawArea_cars {
    display: flex;
    text-align: center;
    justify-content: left;
  }
}