/*
 * SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.detailButton {
    display:block;
    position:relative;
    height:55px;
    background-image:url('../../assets/Button.svg');
    background-position:0;
    background-size:100%;
    background-repeat:no-repeat;
    font-size:18px;
    margin:10px;
    color:#000;
    line-height:100%;
    vertical-align:middle;
    clear:both;
  }
  .detailButton>div{
    padding:18px;
}
